.idea
.vscode
cmake-build-debug
cmake-build-debug-mingw
cmake-build-debug-visual-studio
cmake-build-minsizerel
cmake-build-minsizerel
cmake-build-release
cmake-build-relwithdebinfo
build
.idea/deployment.xml
cmake-build-debug-visual-studio/Testing/Temporary/LastTest.log
*.log
*.log
